
.likesandcomments {
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 30px;
  padding: 0px 15px 0px 15px;
  span {
    margin: 2px 0px 0px 2px;
  }
}

.postsContainer {
  display: grid;
  justify-content: center;
}

.postButton {
  margin-bottom: 20px;
  max-width: 600px;
  margin: auto;
}

.postTitle {
  font-weight: bold;
}

.likes {
  display: flex;
  align-items: center;
}

.comments {
  display: flex;
  align-items: center;
}


.rightside {
  display: flex;
  align-items: center;
}

.date {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.details {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.content {
  margin-left: 5px;
}

.userPost {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
}
