
.reactionCircle {
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  background-color: rgb(240, 240, 240);
  gap: 2px;
  padding: 3px 7px 3px 7px;
}


.postsContainer {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-row-gap: 0px;
  align-items: center;
  gap: 20px;
  margin: auto;
  max-width: 1200px;
}

.postButton {
  margin-bottom: 20px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

.postTitle {
  font-weight: bold;
  margin-top: 5px;
}

.likes {
  display: flex;
  align-items: center;
  span {
    margin-top: 3px;
  }
}

.comments {
  display: flex;
  align-items: center;
  span {
    margin-top: 3px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.date {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-left: 5px;
}

.textcontent {
  /* limit the line count to 3 */
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* adds ... to the end if text is overflowing */
  text-overflow: ellipsis;
}

.userPost {
  margin: 0px;
  padding: 0px 10px 10px 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.likesAndComments {
  display: flex;
  margin-top: auto;
  gap: 7px;
  ion-button {
    margin: 0px;
  }
  div {
  display: flex;
  align-items: center;
  gap: 3px;
  color: black;
  }
}


.usernameForm {
  display: flex;
  flex-direction: column;
  ion-input {
    margin-top: 10px;
  }
  ion-button {
    margin-top: -10px;
  }
}


/* media queries for smaller displays */
@media (max-width: 768px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .userPost {
    min-height: 200px;
  }
}

@media (max-width: 480px) {
  .postsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .userPost {
    min-height: 100px;
  }
}