.back-button {
    cursor: pointer;
}

#logincontent {
    --padding-top: 52px;
}

.title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
    color: #1a73b3;
}

.title2 {
    color: gray;
    font-size: 10px;
    margin-bottom: 10px;
}

.noAccount {
    margin-top: 1rem;
    color: gray;
}

.center {
    margin: auto;
}

.label {
    color: gray;
}
